Client/Web_Client/Connected Services/Cloud_CRUD_Service/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cloud_CRUD" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cloud_CRUD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="files">
    <xs:sequence>
      <xs:element minOccurs="0" name="Extention" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="d" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="files" nillable="true" type="tns:files" />
  <xs:complexType name="ArrayOffiles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="files" nillable="true" type="tns:files" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffiles" nillable="true" type="tns:ArrayOffiles" />
  <xs:complexType name="user_details">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user_details" nillable="true" type="tns:user_details" />
</xs:schema>